.button_trash {
   outline: red;
   fill: orangered;
   border-color: red;
}

.texto_informacion_grupo {
   font-family: "Times New Roman", Times, serif;
   text-align: center;
}

.imagen_vacio {
   size: 2px;
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   width: 50px;
   margin: auto;
   display: block;

}

.texto_vacio{
   text-align: center;
}

.scroll{
   overflow: auto;
}

.texto_contrasenia{
   color: blue;
   text-decoration: underline;
}
