<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/grupos-de-apoyo"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Grupo de apoyo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-label><strong>Nombre:</strong></ion-label>
      <ion-label>{{grupo.name}}
      </ion-label>

      <br><br>
    </ion-item>

    <ion-item>
      <ion-label><strong>Usuario:</strong></ion-label>
      <ion-label>{{nombreUser}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-note class='texto_contrasenia' (click)='cambiardecontrasenia(grupo.id)'>Cambiar de contraseña<br><br>
            </ion-note>
          </ion-col>
         
        <ion-col> <ion-note class='texto_contrasenia' (click)='reestablecerContrasenia(grupo.id)'>Reestablecer contraseña
        </ion-note>
      </ion-col>
        </ion-row>
      </ion-grid>
      <br><br>
    </ion-item>


  </ion-grid>

  <p class='texto_informacion_grupo'>A continuacion se listan los miembros de este grupo</p>

  <ion-item>
    <ion-button slot="end" (click)="irARegistro(grupo.id)">Añadir un nuevo miembro
      <ion-icon name="person-add"></ion-icon>
    </ion-button>
  </ion-item>

  <div class="scroll" scrollY="true">
    <ion-card *ngFor="let miembro of miembros">

      <ion-item *ngIf="miembros.length != 0">
        <ion-button fill="outline" slot="end" (click)="opcionEditar(miembro.id)">
          <ion-icon name="create"></ion-icon>
        </ion-button>

        <ion-button class='button_trash' fill="outline" slot="end" color="danger"
          (click)='presentAlertConfirm(miembro.id)'>
          <ion-icon class='icon_trash' name="trash"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-grid *ngIf="miembros.length != 0">
        <ion-row>
          <ion-label><b>Nombre:</b>{{miembro.firstName}}</ion-label><br><br>
        </ion-row>

        <ion-row>
          <ion-label><b>Apellido:</b>{{miembro.lastName}}</ion-label><br><br>
        </ion-row>

        <ion-row>
          <ion-label><b>Telefono:</b>{{miembro.phoneNumber}}</ion-label><br><br>
        </ion-row>
      </ion-grid>

    </ion-card>
  </div>

  <ion-card *ngIf="miembros.length == 0">
    <ion-label>
      <p class='texto_vacio'>Vacio <br>No hay miembros registrados</p>
    </ion-label>
    <ion-img class='imagen_vacio' src="../../assets/icon/icons8-empty-box-64.png"></ion-img>

  </ion-card>

</ion-content>