<ion-header>
  <ion-toolbar>
    <ion-title>Centro Acopio
      Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/centro-acopio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registrationForm">
    <ion-button color="success" slot='end' (click)='enviarDatosOk()' [hidden]='!verificarEdicion()'>Ok</ion-button>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input inputmode="text" formControlName="nombre"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="floating">Direccion</ion-label>
        <ion-input inputmode="text" formControlName="direccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre(persona de contacto)</ion-label>
        <ion-input inputmode="text" formControlName="nombre_persona_contacto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefono(persona de contacto)</ion-label>
        <ion-input inputmode="text" formControlName="telefono_persona_contacto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type='file' accept="image/*" name="photo" required [(ngModel)]='photo' (change)="readURL($event);" class="fileInput"></ion-input>
        <ion-label for="file"><ion-icon name="images"></ion-icon> Images</ion-label>
      </ion-item> 
      <ion-item *ngIf="imageSrc != null">
        <ion-img *ngIf="imageSrc != null" [src]="imageSrc" alt="your image"></ion-img>
      </ion-item>

    </ion-card>

    <ion-button expand='full' [disabled]="check()" (click)='sendData()'>
      Ingresar ubicacion en el mapa<ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
  </form>
</ion-content>