<ion-header>
  <ion-toolbar>
    <ion-title>Centro Acopio 
      Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registrationForm">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input inputmode="text" formControlName="nombre"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="floating">Direccion</ion-label>
        <ion-input inputmode="text" formControlName="direccion"></ion-input>
      </ion-item>
    </ion-card>

    <ion-button expand='full' [disabled]="check()" (click)='sendData()'>
      Ingresar ubicacion en el mapa<ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
    </form>
</ion-content>