<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categoria"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card>
        <img src="{{campaign.photo}}" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>{{campaign.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{campaign.description}}
          <h3>Contactos</h3>
          {{campaign.contactName}}
          
        </ion-card-content>
      </ion-card>
</ion-content>
