<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/donaciones"></ion-back-button>
    </ion-buttons>

    <ion-title>Editar Donacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form #formulario="ngForm" (ngSubmit)="postDonaciones()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label>Proveedor</ion-label>
        <ion-select placeholder="Seleccione uno" [(ngModel)]='formularios.proveedor' name='proveedor' required >
          <ng-container *ngFor="let provider of providers" >
            <ion-select-option  value="{{provider.id}}">{{provider.name}}</ion-select-option>
           </ng-container>           
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Categorias</ion-label>
        <ion-select placeholder="Seleccione uno"   required [(ngModel)]='formularios.categoria' name='categoria'>
          <ng-container  *ngFor="let categoria of categorias" >
            <ion-select-option  value="{{categoria.id}}">{{categoria.name}}</ion-select-option>
           </ng-container>           
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Centro de Acopio</ion-label>
        <ion-select placeholder="Seleccione uno" selectedVal="2" [(ngModel)]='formularios.centroacopio' name="centroacopio">
          <ng-container *ngFor="let centrosAcopio of centrosAcopios" >
            <ion-select-option *ngIf="centrosAcopio.id == donaciones.collectionCenter"  value="{{centrosAcopio.id}}">{{centrosAcopio.name}}</ion-select-option>
          
          </ng-container>           
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-textarea [(ngModel)]='formularios.description' value='{{donaciones.description}}'name='description' autoGrow="true" minlength="1" required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de inicio</ion-label>
        <ion-datetime placeholder='{{donaciones.beginDate}}' display-timezone="utc" displayFormat="YYYY-MM-DD" max="2050" [(ngModel)]='formularios.BeginDate' name="BeginDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de caducidad</ion-label>
        <ion-datetime placeholder="Seleccionar fecha" display-timezone="utc" value='{{donaciones.expirationDate}}' displayFormat="YYYY-MM-DD" max="2050" [(ngModel)]='formularios.ExpirationDate' name='ExpirationDate'></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Imagen</ion-label>
        <ion-input color="primary" type="file" accept="image/*" name="photo" (change)="changeListener($event)"[(ngModel)]='formularios.photo'>
        </ion-input>
      </ion-item>
      <ion-img src='{{donaciones.photo}}'></ion-img> 
      
    </ion-list>
    
  
    <div class="ion-padding">
      <ion-button  shape="round" type="submit" [disabled]="formulario.invalid" expand="block" routerLink="/donaciones" routerDirection="root">
      Guardar
      </ion-button>
    </div>
  </form>
</ion-content>