<ion-header>
  <ion-toolbar>
    <ion-title>Detallenos información acerca de la distribución</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card  *ngFor ="let data of distribucion_registrada">
    <ion-label ><b>id:</b>{{data.id}}</ion-label><br><br>

    <ion-label ><b>Lugar de partida:</b>{{data.lugar_partida}}</ion-label><br><br>
    <ion-label><b>Lugar de origen:</b>{{data.lugar_destino}}</ion-label>
    <ion-card>
    <ion-label ><b>Encargado (tipo):</b>{{data.encargado.tipo_seleccion_encargado}}</ion-label><br><br>
    <ion-label ><b>Encargado (nombre):</b>{{data.encargado.nombre}}</ion-label><br><br>
  </ion-card>
    <ion-label ><b>Informacion:</b>{{data.informacion}}</ion-label><br><br>

  </ion-card>
  <ion-button expand='full' [routerLink]="['./registro-distribucion']"> 
    Ingresar una nueva Distribución</ion-button >
</ion-content>