<ion-header>
  <ion-toolbar>
    <ion-title>Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Donaciones</ion-title>
    </ion-toolbar>
  </ion-header>-->

 <!----<ion-grid>
    <ion-row>
      <ion-col size="10" size-md-10>
       <p>buscar</p>
      </ion-col>
      <ion-col size="2" size-md>
        <p>boton</p>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <ion-button shape="round" expand="block"size="small">Agregar</ion-button>
  
  <ion-card>
    <ion-item>
      <ion-label>Empresa A</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      Descripcion de la donacion A
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Empresa B</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      Descripcion de la donacion B
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Empresa C</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      Descripcion de la donacion C
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Empresa D</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      Descripcion de la donacion D
    </ion-card-content>
  </ion-card>
  
</ion-content>
