<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['generar-donacion']" routerDirection="root">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
   <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-item id="filtro">
   <ion-label>Filtrar por:</ion-label>
    <ion-select #filtro placeholder='Seleccione Centro de Acopio' (ionChange)='onChange(filtro.value)'>
      <ion-select-option *ngFor='let centrosAcopio of centrosAcopios' value='{{centrosAcopio.id}}'>{{centrosAcopio.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngFor="let donacion of donaciones">
  <ion-card *ngIf="donacion.collectionCenter == opcionfiltro ||  false== opcionfiltro">
  <ion-item>
    <ng-container  *ngFor="let proveedor of proveedores">
      <ion-label  *ngIf="proveedor.id == donacion.provider" [routerLink]="['detalledonacion',donacion.id]">
            {{proveedor.name}}
      </ion-label>
    </ng-container>
      
      <ion-button fill="outline" slot="end" (click)="deleteDonacion(donacion.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-button fill="outline" slot="end" [routerLink]="['editardonacion',donacion.id]">
        <ion-icon name="create"></ion-icon >
      </ion-button>

      <ion-button color="danger" fill="outline" slot="end" (click)="presentAlertElimnarDonacion(donacion.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
     <p>{{donacion.description}}</p>
    </ion-card-content>
  </ion-card> 
  </ng-container> 

</ion-content>
