<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Donaciones</ion-title>
    </ion-toolbar>
  </ion-header>-->

 <!----<ion-grid>
    <ion-row>
      <ion-col size="10" size-md-10>
       <p>buscar</p>
      </ion-col>
      <ion-col size="2" size-md>
        <p>boton</p>
      </ion-col>
    </ion-row>
  </ion-grid>-->
<!-- <ion-button shape="round" expand="block"size="small">Agregar</ion-button>--> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['generar-donacion']" routerDirection="root">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
   <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-card  *ngFor="let donacion of donaciones">
  <ion-item>
    <ng-container  *ngFor="let proveedor of proveedores">
      <ion-label  *ngIf="proveedor.id == donacion.provider" [routerLink]="['detalledonacion',donacion.id]">
            {{proveedor.name}}
      </ion-label>
    </ng-container>
      
      <ion-button fill="outline" slot="end" [routerLink]="['editardonacion',donacion.id]">
        <ion-icon name="create"></ion-icon >
      </ion-button>

      <ion-button fill="outline" slot="end" (click)="deleteDonacion(donacion.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
     <p>{{donacion.description}}</p>
    </ion-card-content>
  </ion-card>
  


</ion-content>
