<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card>
    <ion-list>
    <ion-img src="../../assets/imagen3.png"></ion-img>
    </ion-list>
    
    <form #formulario="ngForm" (ngSubmit)="postCategorias()">
    <ion-list>   
      
      <ion-item>
        <ion-label><ion-icon name="person-outline"></ion-icon><ion-text color="danger"></ion-text></ion-label>
        <ion-input required placeholder="Username" [(ngModel)]='formularios.Username' name="Username" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><ion-icon name="key-outline"></ion-icon> <ion-text color="danger"></ion-text></ion-label>
        <ion-input placeholder="Password"  [(ngModel)]='formularios.Password'name="Password" type='password' required></ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button  shape="round" type="submit"  [disabled]="formulario.invalid" expand="block" routerDirection="root">
        Ingresar
      </ion-button>
    </div>
    </form>
  </ion-card>


</ion-content>
