<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/grupos-de-apoyo-detlalle" (click)='atras()'></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="opcion=='cambio'">Cambiar Contraseña</ion-title>
    <ion-title *ngIf="opcion=='reestablecer'">Reestablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Opciones de cambio o reestabalecer contraseña-->
  <form [formGroup]="formGroupContrasenia">
    <ion-card>
      <ion-item *ngIf="opcion=='cambio'">
        <ion-label position="floating">Contraseña Actual</ion-label>
        <ion-input [type]="passwordType" formControlName="currentPassword"></ion-input>
      </ion-item>
      <ion-checkbox *ngIf="opcion=='cambio'" (click)='hideShowPassword()' class='icon-mostrar-contrasenia'>
      </ion-checkbox>
      <ion-label *ngIf="opcion=='cambio'" class='text-mostrar-contrasenia'>Mostrar contraseña</ion-label>
    </ion-card>

    <ion-card>
      <ion-item *ngIf="opcion=='cambio'">
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input [type]="passwordType2" formControlName="newPassword"></ion-input>
      </ion-item>
      <ion-checkbox *ngIf="opcion=='cambio'" (click)='hideShowPassword2()' class='icon-mostrar-contrasenia'>
      </ion-checkbox>
      <ion-label *ngIf="opcion=='cambio'" class='text-mostrar-contrasenia'>Mostrar contraseña</ion-label>
    </ion-card>

    <ion-card>
      <ion-item *ngIf="opcion=='reestablecer'">
        <ion-label position="floating">Reestablecer Contraseña</ion-label>
        <ion-input [type]="passwordType" formControlName="newPassword2"></ion-input>
      </ion-item>
      <ion-checkbox *ngIf="opcion=='reestablecer'" (click)='hideShowPassword()' class='icon-mostrar-contrasenia'>
      </ion-checkbox>
      <ion-label *ngIf="opcion=='reestablecer'" class='text-mostrar-contrasenia'>Mostrar contraseña</ion-label>
    </ion-card>

    <div class='div-button'>
      <ion-button color="danger" size="small" shape="round" class='button-cancelar' (click)='atras()'>
        Cancelar<ion-icon name="create"></ion-icon>
      </ion-button>
      <!--expand='full' [disabled]="check()" (click)='sendData()' *ngIf="edicion=='editar'"-->
      <ion-button size="small" shape="round" (click)='enviarDatos()'>
        Guardar<ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </div>
  </form>

</ion-content>