<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/provider"></ion-back-button>
    </ion-buttons>

    <ion-title>Editar Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form #formulario="ngForm" (ngSubmit)="updateProvider()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Razon Social <ion-text color="danger"></ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]='formularios.name' name='name'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-textarea [(ngModel)]='formularios.direction' name='direction'  autoGrow="true" minlength="1" required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefono <ion-text color="danger"></ion-text></ion-label>
        <ion-input required type="text"  name="telefono" [(ngModel)]='formularios.cell' ></ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
        <ion-label position="floating">Email <ion-text color="danger"></ion-text></ion-label>
        <ion-input required type="text"  name="emai" [(ngModel)]='formularios.cell' ></ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
        <ion-label position="floating">Persona de contacto <ion-text color="danger"></ion-text></ion-label>
        <ion-input required type="text"  name="name" [(ngModel)]='formularios.name' ></ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
        <ion-label position="floating">Que donacion va a realizar <ion-text color="danger"></ion-text></ion-label>
        <ion-input required type="text"  name="description" [(ngModel)]='formularios.description' ></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button  shape="round" type="submit" [disabled]="formulario.invalid" expand="block" routerLink="/provider" routerDirection="root">
      Guardar
      </ion-button>
    </div>
  </form>
</ion-content>
