<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>-->
  <ion-content>
    <p>Donaciones</p>
    <ion-tab-button tab="donaciones">
      <ion-icon name="square"></ion-icon>
      <ion-label>Donaciones</ion-label>
    </ion-tab-button>
  </ion-content>



</ion-content>
