<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>-->
  <ion-content>
    <ion-button expand="full" routerLink="/categoria" routerDirection="root">
        Categorias
    </ion-button>

    <ion-button expand="full" routerLink="/empresas" routerDirection="root">
      Empresas
    </ion-button>

    <ion-button expand="full" routerLink="/donaciones" routerDirection="root">
      Donaciones
    </ion-button>

    <ion-button expand="full" routerLink="/centro-acopio" routerDirection="root">
      Centro de Acopio
    </ion-button>
  
  </ion-content>



</ion-content>
