<meta charset="UTF-8" />
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-button expand="full" routerLink="/categoria" routerDirection="root">
      Categorias
    </ion-button>

    <ion-button expand="full" routerLink="/campaign" routerDirection="root">
      Campañas
    </ion-button>

    <ion-button expand="full" routerLink="/donaciones" routerDirection="root">
      Donaciones
    </ion-button>

    <ion-button expand="full" routerLink="/empresas" routerDirection="root">
      Empresas
    </ion-button>

    <ion-button expand="full" routerLink="/centro-acopio" routerDirection="root">
      Centro de Acopio
    </ion-button>

    <ion-button expand="full" routerLink="/distribucion" routerDirection="root">
      Distribución
    </ion-button>

    <ion-button expand="full" routerLink="/login" routerDirection="root">
      Login
    </ion-button>

  <ion-list>
    <ion-item button routerLink="/categoria" routerDirection="root">
      <ion-icon slot="start"  ></ion-icon>
      <ion-label> <h3>Categorias</h3> </ion-label>
    </ion-item>
  </ion-list>
  </ion-content>

</ion-content>