<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Alcances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentAlertScope()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
   <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
           </ion-refresher-content>
  </ion-refresher>
  <ng-container >
  <ion-card  *ngFor="let Scope of Scopes; let index= i">
    <ion-item>
      <ion-label>{{Scope.name}}</ion-label>
      
      <ion-button fill="outline" color="danger" slot="end" (click)="DeleteAlertScope(Scope.id)">
      <ion-icon name="trash">
      </ion-icon></ion-button>

    </ion-item>

    <ion-card-content>
     <p>{{Scope.description}}</p>
    </ion-card-content>
  </ion-card>
  </ng-container>
 

</ion-content>