<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Voluntarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">proveedores</ion-title>
    </ion-toolbar>
  </ion-header>-->

 <!----<ion-grid>
    <ion-row>
      <ion-col size="10" size-md-10>
       <p>buscar</p>
      </ion-col>
      <ion-col size="2" size-md>
        <p>boton</p>
      </ion-col>
    </ion-row>
  </ion-grid>-->
<!-- <ion-button shape="round" expand="block"size="small">Agregar</ion-button>--> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/generarvolunteer" routerDirection="root">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-card *ngFor="let volunteer of volunteers">
    <ion-item>
      <ion-label>volunteer: {{volunteer.provider}}</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
     <p>{{volunteer.description}}</p>
     <p>estate: {{volunteer.state}}</p>
     <p>createdAt: {{volunteer.createdAt}}</p>
     <p>createdAt: {{volunteer.createdBy}}</p>
     <p>volunteer: {{volunteer.provider}}</p>
  
    </ion-card-content>
  </ion-card>


</ion-content>
