<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categoria"></ion-back-button>
    </ion-buttons>

    <ion-title>Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form onsubmit="">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Nombre <ion-text color="danger"></ion-text></ion-label>
        <ion-input required type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-textarea  ></ion-textarea>
      </ion-item>

      <!--<ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-textarea required type="number"></ion-textarea>
      </ion-item>-->



      <ion-item>
        <ion-label position="floating">Creado por <ion-text color="danger"></ion-text></ion-label>
        <ion-input required type="text" ></ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button   shape="round" type="submit"  expand="block"  (click)="postCategorias()" routerLink="/categoria" routerDirection="root">
      Guardar
      </ion-button>
    </div>
  </form>
</ion-content>
