<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categoria"></ion-back-button>
    </ion-buttons>

    <ion-title>Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form #formulario="ngForm" (ngSubmit)="postCategorias()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Nombre <ion-text color="danger"></ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]='formularios.name' name='name'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-textarea [(ngModel)]='formularios.description' name='description'  autoGrow="true" minlength="1" required></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button  shape="round" type="submit" [disabled]="formulario.invalid" expand="block" routerLink="/categoria" routerDirection="root">
      Guardar
      </ion-button>
    </div>
  </form>
</ion-content>
